<div class="container">
    <div align="center"  class="card-heard" >
            <h3>{{"Gestion de Pasajeros" | translate}}</h3>
    </div>
    <div>
        <div class="d-flex">
            <div class="card col-sm-4" style="height:50%;background:lightgray"> 
                <div class="card-body">   
                        <div align="center">
                            <h4>{{"Registro" | translate}}</h4>
                        </div>           
                    <form>
                        <div class="form-group">
                            <label for=""> {{"Nombre" | translate}}: </label>
                            <input [(ngModel)]="cliente.nombre" name="nombre" type="text" class="form-control"> 

                        </div>
                        <div class="form-group">
                            <label for=""> {{"Cedula" | translate}}: </label>
                            <input  [(ngModel)]="cliente.cedula" name="cedula" type="number" class="form-control"> 

                        </div>
                        <div class="form-group">
                            <label for=""> {{"Telefono" | translate}}: </label>
                            <input  [(ngModel)]="cliente.telefono" name="telefono" type="number" class="form-control"> 

                        </div>
                        <div style="text-align: right;">
                        <button (click)="Agregar()" class="btn btn-primary">{{"Guardar" | translate}}</button>
                        </div>
                    </form>
                </div>
            </div>
  
            <div class="card-body col-sm-8">
                <div class="header-top">
                    <div class="navegacion" style="padding: 15px 0;">
                    <input [(ngModel)]="cliente.idCliente" name=" " style="width: 85%" type="search" placeholder="Ingrese identificador">&nbsp;&nbsp;&nbsp;
                    <button class="btn btn-primary" >{{"Buscar" | translate}}</button>
                    </div>
                </div>
                <table class="table table-hover" >
                    <thead>
                        <tr class="text-center">
                            <th>{{"Id" | translate}}</th>
                            <th>{{"Nombre" | translate}}</th>
                            <th>{{"Cedula" | translate}}</th>
                            <th>{{"Telefono" | translate}}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cliente of clientes"  class="text-center">
                            <td>{{cliente. idCliente}}</td>
                            <td>{{cliente.nombre}}</td>
                            <td>{{cliente.cedula}}</td>
                            <td>{{cliente.telefono}}</td>
                            <td>
                                <button (click)="Actualizar(cliente)" class="btn btn-warning">{{"Actualizar" | translate}}</button>
                                <button (click)="Eliminar(cliente)" class="btn btn-danger" style="margin-left: 20px;">{{"Eliminar" | translate}}</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>