<div style="text-align: center;" class="image" [ngStyle]="{'background': 'url(assets/img/fondo.jpg) no-repeat 0 0','background-size':'cover'}">

  <img width="100" src="assets/img/logo avion.png">
  <h1>App Vuelos <br><br></h1>
  <div>
</div>
</div>
<div class="container text-center" >

  <button (click)="ListarVuelos()" class="btn btn-info" style="margin-left: 20px;">&nbsp; Vuelos &nbsp;</button>
  <button (click)="Listar()" class="btn btn-info" style="margin-left: 20px;">&nbsp; &nbsp; Pasajeros &nbsp; &nbsp;</button>
  <button (click)="Agregar()" class="btn btn-info" style="margin-left: 20px;">&nbsp;Registro pasajero&nbsp;</button>
  
</div>
<hr>
<router-outlet></router-outlet>
