<div class="container col-md-8">
    <div class="card">
        <div class="card-heard">
            <h3> &nbsp; &nbsp;{{"Lista Vuelos" | translate}}</h3>
        </div>
        <div class="card-body">
            <table id="listarPasajeros" class="table table-hover">
                <thead>
                    <tr class="text-center">
                        <th>{{"Id" | translate}}</th>
                        <th>{{"Numero Vuelo" | translate}}</th>
                        <th>{{"Modelo Avion" | translate}}</th>
                        <th>{{"Capacidad" | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let vuelo of vuelos"  class="text-center">
                        <td>{{vuelo.idVuelo}}</td>
                        <td>{{vuelo.numeroVuelo}}</td>
                        <td>{{vuelo.modeloAvion}}</td>
                        <td>{{vuelo.capacidad}}</td>
                        <td>
                            <button (click)="ListarPasajeros(vuelo)" class="btn btn-secondary" style="margin-left: 20px;">{{"Detalles" | translate}}
                                <svg class="bi bi-arrow-right-short" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M8.146 4.646a.5.5 0 01.708 0l3 3a.5.5 0 010 .708l-3 3a.5.5 0 01-.708-.708L10.793 8 8.146 5.354a.5.5 0 010-.708z" clip-rule="evenodd"/>
                                    <path fill-rule="evenodd" d="M4 8a.5.5 0 01.5-.5H11a.5.5 0 010 1H4.5A.5.5 0 014 8z" clip-rule="evenodd"/>
                                  </svg>
                            </button>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>