<div class="container col-md-10">
    <div class="card">
        <div class="card-heard">
            <h3> &nbsp; &nbsp;{{"Lista Vuelos" | translate}}</h3>
        </div>
        <div class="card-body">
            <table id="listarPasajeros" class="table table-hover">
                <thead>
                    <tr class="text-center">
                        <th>{{"Id" | translate}}</th>
                        <th>{{"Numero Vuelo" | translate}}</th>
                        <th>{{"Modelo Avion" | translate}}</th>
                        <th>{{"Capacidad" | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let vuelo of vuelos"  class="text-center">
                        <td>{{vuelo.idVuelo}}</td>
                        <td>{{vuelo.numeroVuelo}}</td>
                        <td>{{vuelo.modeloAvion}}</td>
                        <td>{{vuelo.capacidad}}</td>
                        <td>
                            <button (click)="ListarPasajeros(vuelo)" class="btn btn-danger" style="margin-left: 20px;">{{"Detalles" | translate}}</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>