<div class="container col-md-10">
    <div class="card">
        <div class="card-heard">
            <h3> &nbsp; &nbsp;Lista Vuelos</h3>
        </div>
        <div class="card-body">
            <table id="listarPasajeros" class="table table-hover">
                <thead>
                    <tr class="text-center">
                        <th>Id</th>
                        <th>Numero Vuelo</th>
                        <th>Modelo Avion</th>
                        <th>Capacidad</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let vuelo of vuelos"  class="text-center">
                        <td>{{vuelo.idVuelo}}</td>
                        <td>{{vuelo.numeroVuelo}}</td>
                        <td>{{vuelo.modeloAvion}}</td>
                        <td>{{vuelo.capacidad}}</td>
                        <td>
                            <button (click)="ListarPasajeros()" class="btn btn-danger" style="margin-left: 20px;">Detalles</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>